# This is an example file. 
# 
# To set up your autobiography template:
# 1. Run: rails credentials:edit
# 2. This will automatically generate config/master.key
# 3. The master.key file should NOT be committed to git
#
# The master.key is used to encrypt sensitive configuration data.
# Each installation should have its own unique master.key file.
#
# For deployment, you'll need to securely share the master.key 
# with your hosting platform (like Heroku) as an environment variable.
